body {
    margin: 0;
    padding: 0;
}
section {
    padding: 20px 15px;
    border-bottom: 1px solid #141419;
}
.modal {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.modal > .modal-content {
    background: #fff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 3px #6c6c6c;
    max-width: 700px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
}
.modal > .modal-content .modal-close {
    float: right;
    padding: 3px;
    background: #ebebeb;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    color: #f00;
    margin-top: -10px;
    cursor: pointer;
}
.modal > .modal-content .modal-close:hover {
    background: #6c6c6c;
}
form {
    font-size: 16px;
    font-family: monospace;
    background: #ebebeb;
    border-radius: 6px;
    padding: 10px 15px;
}
form .form-field {
    display: flex;
    flex-flow: column;
    padding: 10px 0;
}
form .form-field > label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}
form .form-field > input {
    padding: 5px;
}
.btn {
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.btn-cicle {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.btn-primary {
    background: #234dd4;
    color: #fff;
}